main
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.formMain
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #fff;
    border-radius: 10px;
    width: 600px;
    border: 3px solid #bd9e56;
}
.h1Main
{
    width: 100%;
    margin: 0;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid #bd9e56;
    font-size: xx-large;
}
.h1Succes
{
    background-color: #fff;
    padding: 20px;
    color: #bd9e56;
    border: 2px solid #bd9e56;
    border-radius: 10px;
}
.parentDivLabInp
{
    width: 50%;
}
.divLabInp
{
    width: 100%;
    margin-top: 30px;
}
.label
{
    width: 100%;
    font-size: larger;
}
.input
{
    background-color: #fff;
    color: #2c2c2c;
    border-radius: 10px;
    border: 2px solid #bd9e56;
    width: 100%;
    height: 30px;
    font-family: 'JosefinSans';
}
.divBtn
{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
}
.btn
{
    font-family: "JosefinSans";
    width: 200px;
    height: 50px;
    border-radius: 10px;
    border: 2px solid #bd9e56;
    transition: 0.3s;
    background-color: #2c2c2c;
    color: #bd9e56;
}
.btn:hover
{
    border-color: #2c2c2c;
    background-color: #bd9e56;
    color: #2c2c2c;
}
.divLienExterne
{
    width: 100%;
}
.lienMdpForgot
{
    width: 100%;
    text-align: center;
}
.lienInscription
{
    color: #bd9e56;
    width: 100%;
    text-align: center;
}
.aLink
{
    color: #bd9e56;
    text-decoration: none;
}