footer
{
    display: flex;
    align-items: center;
    background-color: #fff;
    grid-area: 3 / 1 / 4 / 2; 
}
.pFooter
{
    font-family: 'JosefinSans';
    margin-left: 10px;
    font-weight: bolder;
    color: #bd9e56;
}