main
{
    display: flex;
    justify-content: center;
    align-items: center; 
}
.articleMain
{
    background-color: #fff;
    border: 3px solid #bd9e56;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 80%;
    min-height: 80%;
}
.sectionH1
{ 
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: 1 / 1 / 2 / 2; 
}
h1
{
    color: #bd9e56;
    font-size: -webkit-xxx-large;
}
.sectionArticleMain
{ 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.divChildVille
{
    display: flex;
    justify-content: center;
    width: 25%;
}
.aSectionDestination
{
    text-decoration: none;
    width: 200px;
    text-align: center;
    padding: 35px 0;
    border-radius: 10px;
    font-size: x-large;
    border: 3px solid #2c2c2c;
    color: #2c2c2c;
    background-color: #bd9e56;
    font-family: "JosefinSans";
    transition: 0.3s;
}
.aSectionDestination:hover
{
    transition: 0.3s;
    border-color: #e0ae51;
    background-color: #2c2c2c;
    color: #e0ae51;
}